

#content{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
    /*padding-top: 10%;*/
    margin-top: 10%;
    /*background-color: #ff3af3;*/
}


#sidebar{
    flex-basis: 20%;
    /*background-color: #00A000;*/
}
.title a{
    text-decoration: none;
    color: #000;
    font-family: 'Noticia Text', Georgia;
    letter-spacing: 2px;
    font-weight: 500;
  	font-size: 30px;
	line-height: 48px;
	margin: 0;
    text-align: left;
	z-index: 100;
    text-transform: uppercase;
}

.title a:hover{
    text-decoration: none;
}

.post{
    text-align: left;
    margin-left: 5%;
    /*margin-top: 10%;*/
    margin-right: 15%;
    border-bottom: solid;
    border-color: #222222;
    border-width: 3px;
    /*margin-right: 30px;*/
    margin-bottom-bottom: 10px;
}

.post-item{
    text-align: left;
    margin-left: 5%;
    /*margin-top: 10%;*/
    margin-right: 15%;
    padding-bottom: 300px;

}

.post-image {
    object-fit: contain;
    height: 90%;
    width: 90%;
    padding-top: 20px;
}


.text {
    font-family: 'Noticia Text', Georgia;
    line-height: 170%;
}

.read-more{
    text-align: right;
    margin-right: 30px;
    padding-bottom: 30px;

}

.read-more a{
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-family: myfont;
}
.info {
    color: darkgray;
    text-decoration: none;
    font-family: myfont;
    font-size: 21px;
}
.info ul {
    list-style-type: none;
}

.author{
    text-decoration: none;

}

.author a {
    text-decoration: none;
    color: gray;
}

.author a:hover {
    text-decoration: none;
}