
#sidebar{
    flex-basis: 40%;
    padding-top: 50px;
    padding-left: 30px;
    border-left: solid;
    border-color: #c7c7c7;
    border-width: 1px;
}

ul{
   list-style-type: none;

}

li{
    text-align: left;
    margin-bottom: 10px;
}

.headline{
    text-align: left;
    font-family: 'Noticia Text', Georgia;
    text-transform: uppercase;
    font-size: 20px;
}


.tags {
    text-align: left;
    font-family: 'Noticia Text', Georgia;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 50px;
}
.tags a {
    text-decoration: none;
    color:black;
}
.tags a:hover{
    text-decoration: none;
    color:black;
}
