{% extends 'main/base.html' %}
{% block content %}
{% load staticfiles %}
    {% include 'main/main_menu.html'%}
    <link rel="stylesheet" type="text/css" href="{% static '/entry/css/entry_list.css' %}">
        <div class="container">
        <div class="row">
			<div class = "col-sm-9">
            {% block article %}
            {% endblock %}
            {% if object.tags.similar_objects|length > 2  %}
            <div class="title">
                Related
            </div>
            {% include "main/multi_slider.html" with object_list=object.tags.similar_objects|slice:"0:3" %}
            {% endif %}
			</div>
            <div class="col-sm-3">
                {% include 'entry/sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}


