{% extends 'entry/Entry.html' %}
{%  load staticfiles %}
{% block article %}
<div class="post-item">
    <div class="title">
        <a href="{% url 'main:entry:entry-detail' object.slug %}">{{ object.title|safe }}</a>
    </div>
    <div class ="info">
        <span class="date">created on {{ object.created|date:'d.m.Y'}}</span>
        <span class = "author">
            by <a href = "{% url 'main:aboutus' %}">{{ object.author|safe }}</a>
        </span>
    </div>
    <div class = "image">
        <a href="{% url 'main:entry:entry-detail' object.slug %}" class="img-thumbnai1">
            <img class = "post-image" src="{{ object.title_image.url }}"/>
        </a>
    </div>
    <div id="short-body" class ="text">
        {{object.short_body}}
    </div>
    <div id="slideshow">
    {% include 'main/slideshow.html' %}
    </div>
    <div id="post-body" class="text">
    {{object.body|safe}}
    </div>
</div>
{% endblock %}