{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/entry/css/side_bar.css' %}">
<div id="sidebar">
        <div class="tags">
            <h3 class="headline">Places</h3>
            <ul >
                <li><a href="#">Africa</a></li>
                <li><a href="#">Asia</a></li>
                <li><a href="#">Europe</a></li>
                <li><a href="#">South America</a></li>
            </ul>
            <h3 class="headline">Categories</h3>
            <ul >
                <li><a href="#">Movies</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Articles</a></li>
            </ul>
        </div>
    </div>