<!DOCTYPE html>

{% extends 'main/index.html' %}
{% load django_markdown %}
{% load staticfiles %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static '/main/css/post_list.css' %}">
    <div id="main">
        <div id="content">
            {% for object in object_list %}
                <div class="post">
                    <div class="title">
                        <a href="{% url 'main:entry-detail' object.slug %}">{{ object.title|safe }}</a>
                    </div>
                    <div class ="info">
                        <span class="date">created on {{ object.created|date:'d.m.Y'}}</span>
                        <span class = "author">
                            by <a href = "{% url 'main:aboutus' %}">{{ object.author|safe }}</a>
                        </span>
                    </div>
                    <div class = "image">
                        <a href="{% url 'main:entry-detail' object.slug %}" class="thumbnail">
                            <img class = "post-image" src="{{ object.title_image.url }}"/>
                        </a>
                    </div>

                    <div class="short-body">
                        {{object.short_body|markdown|truncatewords:50 }}
                    </div>
                    <div class="read-more"><a href="{% url 'main:entry-detail' object.slug %}">Read more</a></div>


                </div>
            {% endfor %}
        </div>
        {% include 'main/sidebar.html' %}
    </div>

{% endblock %}