<!DOCTYPE html>
{% load static %}
{% load django_markdown %}
<html lang="en">
<head>
	<title>Mama nie wie, że się wspinam</title>
	<meta charset="utf-8">
	<meta name="author" content="ntmagda">
    <link rel="stylesheet" type="text/css" href="{% static '/main/css/style.css' %}">
</head>
<body>
<div id="website">
    <div id="header">
        <div id="main-menu">
                    <ul>
                        <li class = "menu-item"><a href="{% url 'main:home' 		%}">Home</a></li>
                        <li class = "menu-item"><a href="{% url 'main:aboutus' 		%}">About us</a></li>
                        <li class = "menu-item"><a href="{% url 'main:expeditions' 	%}">Expeditions</a></li>
                        <li class = "menu-item"><a href="{% url 'main:contact' 		%}">Contact</a></li>
                        <li class = "menu-item"><a href="{% url 'main:contact' 		%}">Contact</a></li>
                        <li class = "menu-item"><a href="{% url 'main:contact' 		%}">Contact</a></li>
                        <li class = "menu-item"><a href="{% url 'main:contact' 		%}">Contact</a></li>
                    </ul>
        </div>
        <div id = "blog-title">
            Mama nie wie, że sie wspinam
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
