{% extends 'main/base.html' %}
{% load django_markdown %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/main/css/main_sections.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/entry/css/entry_list.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<script>
$(document).ready(function(){
  $(".know_more").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
</script>
    {% include 'main/main_menu.html'%}
       <section id="section_top">
{#                {% include 'main/map1.svg' %}#}
                <div class="section_top_content" style="font-family: 'Amatic SC', cursive;">
                    <div>Polish-German <br> climbing team in: </div>
                    <div id="current-destinationa" >India</div>
                </div>
                <div id="know_more">
                    <a href="#section_bottom" class ="know_more" >Find out more</a>
                </div>
    </section>
    <section id ="section_bottom">
            <div id="content">
			<article>
				<div class="post-item">
                    {% with object_list|first as object %}
					<div class="title">
                        <a href="{% url 'main:entry-detail' object.slug %}">{{ object.title|safe }}</a>
					</div>
					<div class ="info">
                        <span class="date">created on {{ object.created|date:'d.m.Y'}}</span>
                        <span class = "author">
                            by <a href = "{% url 'main:aboutus' %}">{{ object.author|safe }}</a>
                        </span>
                    </div>
                    <div id="post-body" class="text">
					{{object.body|safe}}
                    </div>
                    {% endwith %}
				</div>
			</article>
            {% include 'entry/sidebar.html' %}
            </div>
    </section>
{% endblock %}
