
<div id="header">
    <div id="background"></div>
    <div id="main-menu">
                <ul>
                    <li class = "menu-item"><a href="{% url 'main:home' 		%}">Home</a></li>
                    <li class = "menu-item"><a href="{% url 'main:aboutus' 		%}">About us</a></li>
                    <li class = "menu-item"><a href="{% url 'main:expeditions' 	%}">Expeditions</a></li>
                    <li class = "menu-item"><a href="{% url 'main:contact' 		%}">Travels</a></li>
                    <li class = "menu-item"><a href="{% url 'main:contact' 		%}">Climbing</a></li>
                    <li class = "menu-item"><a href="{% url 'main:contact' 		%}">How to live?</a></li>
                    <li class = "menu-item"><a href="{% url 'main:contact' 		%}">Contact</a></li>
                </ul>
    </div>
</div>