<!DOCTYPE html>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/main/css/side_bar.css' %}">
        <div id="side-bar">
            <div class="tags">
                <h3 class="headline">Places</h3>
                <ul >
                    <li><a href="#">Africa</a></li>
                    <li><a href="#">Asia</a></li>
                    <li><a href="#">Europe</a></li>
                    <li><a href="#">South America</a></li>
                </ul>
                <h3 class="headline">Categories</h3>
                <ul >
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Articles</a></li>
                </ul>
            </div>
            <h3>Search</h3>
            <form method="get" id="search" action="#">
                <fieldset>
                    <input type="text" class="searchbar" />
                    <input type="button" class="searchbutton" value="Search" />
                </fieldset>
            </form>
        </div>