<!DOCTYPE html>

{% load django_markdown %}
{% load staticfiles %}

    <script src = "{% static '/main/js/slideshow.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/main/css/slideshow.css' %}">
        <div id="slideshow-container" >
            {% for image in object.images.all %}
                 <div class="mySlides fade" >
                    <img src="{{ image.image.url }}" style="width:100%"/>
                </div>
            {% endfor %}
            <div class="prev"><a onclick="plusSlides(-1)">&#10094;</a></div>
            <div class="next"><a onclick="plusSlides(1)">&#10095;</a></div>
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        </div>