
@font-face {
    font-family: myfont;
    src: url('../../fonts/ADAM.CG PRO.otf') format("opentype");
    src: local('../../fonts/ADAM.CG PRO.otf');
}

/*GENERAL STYLING*/
body {
    /*background-color: #39ff3a;*/
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


#website {
    height: 100%;
    /*overflow: hidden; <- affects sliding effect*/
    margin: 0;
    display: flex;
    flex-direction: column;
    /*box-sizing: border-box;*/
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}


#header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main-menu{
    overflow: hidden;
    position: fixed;
    top: 0;
    /*left: 50%;*/
    width: 100%;
    /*margin-left: -37.5%;*/
    order: 1;
    flex: 1 100%;
    /*background-color: aliceblue;*/
    text-align: center;
}

#blog-title{
    padding-top: 70px;
    order: 2;
    flex-grow: 0;
    flex-shrink: 0;
    height: 150px;
    /*background-color: #ff3af3;*/

}

#main {
    display: flex;
    /*flex-direction: row;*/
    width: 70%;
    flex-flow: row;
    /*flex-grow: 0;*/
    /*flex-shrink: 0;*/
    /*flex-basis: 1000px;*/

}


#content {
    order: 1;
    flex:1;
    background-color: #e5e1e1;
    background: -webkit-linear-gradient(left, #e5e1e1, #b4aaad); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e5e1e1, #b4aaad); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e5e1e1, #b4aaad); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e5e1e1 , #b4aaad); /* Standard syntax */

}
.know_more{
	border: solid;
    border-color: white;
	font-family: inherit;
	font-size: inherit;
	color: white;
	background: none;
	cursor: pointer;
	padding: 20px 60px;
	display: inline-block;
	margin: 10px 35px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.know_more:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.know_more:hover,
.know_more:active{
    color: #0e83cd;
	background: #fff;
}


#side-bar {
    order: 2;
    background-color: #b4aaad;
    width:250px;
    /*flex: 0 100%;*/
    /*flex-grow: 0;*/
    /*flex-shrink: 0;*/
    /*flex-basis: 30%;*/
}



/* MAIN MENU */

#main-menu {
    /*color: aliceblue;*/
    /*background-color: #222222;*/
}

#main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*align-items: center;*/
}

#main-menu li a {
    font-family: inherit;
	font-size: inherit;
    /*font-size:20px;*/
    /*text-transform: uppercase;*/
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 10px 13px;
    float: left;
    color:black;
    font-weight: bold;
    text-decoration: none;
    /*fade effect*/
    /*background-color: #222222;*/
    transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -webkit-transition: background-color .1s ease-in-out;
}

svg { position:fixed; top:0; left:0; height:100%; width:100% }