
/*GENERAL STYLING*/
body {
    background-color: #39ff3a;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


#website {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#header {
    background-color: yellow;
    order: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#wrapper {
    order: 2;
    display: flex;
    flex-direction: row;
    width: 60%;

}


/*#main-menu {*/
    /*order: 1;*/
    /*!*float: left;*!*/
    /*!*width: 100%;*!*/
    /*overflow: hidden;*/
    /*background-color: #222222;*/
/*}*/

/*#blog-title {*/
    /*order: 2;*/
/*}*/

/*!*#main-menu ul {*!*/
    /*!*list-style-type: none;*!*/
    /*!*margin: 0;*!*/
    /*!*padding: 0;*!*/
/*!*}*!*/


/*!*#main-menu li a {*!*/
    /*!*display: inline;*!*/
    /*!*list-style-type: none;*!*/
    /*!*margin: 0;*!*/
    /*!*padding: 10px 13px;*!*/
    /*!*float: left;*!*/
    /*!*color: #eeeeee;*!*/
    /*!*text-decoration: none;*!*/
    /*!*!*fade effect*!*!*/
    /*!*background-color: #222222;*!*/
    /*!*transition: background-color .1s ease-in-out;*!*/
    /*!*-moz-transition: background-color .1s ease-in-out;*!*/
    /*!*-webkit-transition: background-color .1s ease-in-out;*!*/
/*!*}*!*/


/*!*#main-menu a:hover {*!*/
    /*!*color: #ffffff;*!*/
    /*!*background-color:*!*/
    /*!*!*#E00C12; - czerwony*!*!*/
    /*!*#ee7700; !*best*!*!*/
    /*!*!*green;*!*!*/
/*!*}*!*/



#content {
    order: 1;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width:80%;
}


#side-bar{
    order: 2;
    /*flex: 1 1 auto;*/
    overflow: auto;
    background-color: aqua;
    /*width: 20%;*/
    /*position: fixed;*/
    /*border-top: 15px solid white;*/
    /*width: 263px;*/
    /*padding: 15px 30px 15px 15px;*/
    /*float:right;*/
    /*clear: left;*/
}


/*#cleared {*/
  /*clear: both;*/
/*}*/


/*.post h1 {*/
    /*position: relative;*/
    /*text-decoration: none;*/
    /*text-align: center;*/

/*}*/